---
layout: default
title: Home
---
<div class="container">
    <h2>Concerts</h1>

        {% for concert in site.data.concerts %}
        {% assign venue = site.data.venues | where_exp: "venue", "venue.id == concert.venue[0]" %}
        {% assign headliner = site.data.artists | where_exp: "headliner", "headliner.id == concert.headliner[0]" %}
        {% assign openers = site.data.artists | where_exp: "openers", "concert.openers contains openers.id" %}

        <div class="cover">
            <div class="cover_number">
                <p>{{ concert.number }}</p>
            </div>
            <div class="cover_content">
                <div class="cover_content_artists">
                    <h1>{{ headliner[0].artist | jsonify | remove:'"'}}</h1>
                </div>
                <div class="cover_content_opener">
                    {% for opener in openers %}
                        <h2>{{ opener.artist | jsonify | remove:'"'}}</h2>
                    {% endfor %}
                </div>
                <hr>
                <div class="cover_content_details">
                    <div class="cover_content_details_date">
                        <span>{{ concert.date | date: "%B %-d, %Y" }}</span>
                    </div>
                    <div class="cover_content_details_venue">
                        <span>{{ venue[0].name | jsonify | remove:'"'}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
</div>