body {
  background-color: #010311;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 10px;

  @include media($sm) {
    padding: 50px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
}

a,
a:visited {
  color: white;
  text-decoration: none;

  &:hover {
    color: rgb(255, 230, 0);
  }
}
