body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 100px;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.cover {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover_number {
    width: 10%;
}

.cover_content {
    width: 90%;
}

.cover_content_details {
    display: flex;
    flex-direction: row;
}

.cover_content_details_date {
    width: 30%;
}

.cover_content_details_venue {
    width: 40%;
}
