html {
    font-family: sans-serif;
}

h1, h2, h3, p {
    margin: 0px;
}

h1 {
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 3em;
}

p {
    font-family: sans-serif;
}