html {
    font-family: ff-more-web-pro-wide, serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, p {
    margin: 0px;
}

h1 {
    font-weight: 500;
}

h1 {
    font-size: 3.2em;
}

p, span {
    font-family: 'ff-ernestine-pro', serif;
    font-weight: 400;
}

.cover_content_opener {
    margin-top: -5px;

    h2 {
        font-weight: 300;
        display: inline;
        color: gray;
        font-size: 20px;
    }
    
    :after {
        content: ' | ';
    }

    :last-child:after {
        content: '';
    }
}

.list-comma {
    :after {
        content: ',\00a0';
    }

    :last-child:after {
        content: '';
    }
}